{% load staticfiles %}

<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <style>
         h4 {
         background-color: #5cb85c;
         color:white !important;
         text-align: center;
         font-size: 30px;
         }
      </style>
   </head>
   <body>
      <div class="container">
         <h2>Career Guide</h2>
         <div class="row">
            <div class="panel-body col-lg-8" style="padding:40px 50px;">
               <form method="POST" action="">
                 {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit"><span class="glyphicon glyphicon-off"></span> Login</button>
                </form>
                <h2 > {{ text }} </h2>

            </div>
         </div>
      </div>
   </body>
</html>